h3, h5{
    font-family: 'Roboto', sans-serif;
}
h3{
    color: rgb(1, 1, 36);
    font-weight: bolder;
}
.package-details p{
    line-height:5px;
}

.hot{
    position: absolute;
    left: 210px;
    bottom: 350px;
    background-image: linear-gradient(rgb(250, 121, 15), rgba(247, 4, 4, 0.945));
    border: 1px;
    border-radius: 13px;
    padding: 5px 10px;
    color: white;

}
a{
    text-decoration: none;
    color: white;
}
.android-play-store{
    margin-left: 20px;
}

footer{
    height: 300px;
}
/* .app-store p{
    font: size 10px;;
} */